.footer {
  background-color: #A3B4E0;
  height: 100px;
  width: 100;
}

.footer-content {
  font-family: Cabinet Grotesk;
  color: #000000;
  font-weight: bold;
  margin-left: 20PX;
  padding: 10px 20px;
}

.footer-block {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}



/* Estilos para tablets */
@media screen and (max-width: 768px) {
  .footer img {
    height: 40px;
  }

  .footer span {
    font-size: 0.9rem;
  }
}

/* Estilos para móviles */
@media screen and (max-width: 480px) {
  .footer img {
    height: 30px;
  }

  .footer span {
    font-size: 0.8rem;
  }

  .footer-content {
    padding: 0 10px;
  }
}