.footer {
  background-color: #A3B4E0;
  color: white;
  text-align: center;
  padding: 10px 0;
}
/* #213363 */
.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; /* Permite que los elementos se ajusten en líneas separadas si no hay suficiente espacio */
}

.footer img {
  height: 50px;
  margin-bottom: 10px; /* Espaciado inferior para cuando el texto se mueva debajo del logo en pantallas pequeñas */
}

.footer span {
  font-size: 1rem;
}

/* Estilos para tablets */
@media screen and (max-width: 768px) {
  .footer img {
    height: 40px; /* Reducir el tamaño del logo */
  }

  .footer span {
    font-size: 0.9rem; /* Reducir el tamaño del texto */
  }
}

/* Estilos para móviles */
@media screen and (max-width: 480px) {
  .footer img {
    height: 30px; /* Reducir aún más el tamaño del logo */
  }

  .footer span {
    font-size: 0.8rem; /* Reducir aún más el tamaño del texto */
  }

  .footer-content {
    padding: 0 10px; /* Reducir el espaciado interno */
  }
}