.footer {
  background-color: #A3B4E0;
  height: 100px;
}

.footer-content {
  font-family: Cabinet Grotesk;
  color: #000000;
  font-weight: bold;
  margin-left: 20PX;
  padding: 10px 20px;
}

.footer-block {
  display: flex;
  align-items: center;
  flex-wrap: wrap; /* Permite que los elementos se ajusten en líneas separadas si no hay suficiente espacio */
}



/* Estilos para tablets */
@media screen and (max-width: 768px) {
  .footer img {
    height: 40px; /* Reducir el tamaño del logo */
  }

  .footer span {
    font-size: 0.9rem; /* Reducir el tamaño del texto */
  }
}

/* Estilos para móviles */
@media screen and (max-width: 480px) {
  .footer img {
    height: 30px; /* Reducir aún más el tamaño del logo */
  }

  .footer span {
    font-size: 0.8rem; /* Reducir aún más el tamaño del texto */
  }

  .footer-content {
    padding: 0 10px; /* Reducir el espaciado interno */
  }
}