.home-contenedorPrincipal {
  position: relative;
}

.home-content {
  position: absolute;
  width: 100%;
  top: 10%;
  text-align: center;
  z-index: 20;
}

.imagen-destacada {
  width: 100%;
  top: 0;
  z-index: 15;
  min-height: 100vh;
}

h1 {
  position: absolute;
    top: 7%; 
    width: 100%;
    text-align: center;
    font-family: Cabinet Grotesk;
    z-index: 50;
    color: #FFFFFF;
  }


  .home-content p{
    font-family: Satoshi;
    font-size: 25px;
    line-height: 33.75px;
    color: #FFFFFF;
    padding-bottom: 150px;
  }

  .logo-container p{
    font-family: Cabinet Grotesk;
    color: black;
    font-weight: bold;
  }

.serch__form {
  position: relative;
  display: flex;
  justify-content: center;
}


.serchInput__form[type="text"] {
  padding: 10px;
  font-size: 1em;
  border: 2px solid #ddd;
  border-radius: 20px 0 0 20px;
  outline: none;
  width: 625px;
  height: 80px;
  transition: all 0.3s ease-in-out;
}

.serchInput__form[type="text"]:focus {
  border-color: #007bff;
}

.serchInput__form[type="date"] {
  margin-left: 80px;
}

.serchInput__form__Calendar{
  padding: 10px;
  font-size: 1em;
  border: 2px solid #ddd;
  border-radius: 20px 0 0 20px;
  outline: none;
  height: 80px;
  transition: all 0.3s ease-in-out;
}

.form__button {
  width: 80px;
  padding: 10px 10px;
  font-size: 1em;
  background-color: #A3BD70;
  color: white;
  border: none;
  border-radius: 0 20px 20px 0;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}


.form__button:hover {
  background-color: #D3D04F;
}

.serchInput__form[type="date"] {
  max-width: 150px;
  width: 100%;
}

.resultados-busqueda {
  position: absolute;
  top: 100%;
  left: 20%;
  right: 0;
  width: 100%;
  max-height: 300px;
  height: auto;
  overflow-y: auto;
  z-index: 10;
  z-index: 10;
  list-style: none;
  padding: 1%;
  margin: 5px 0;
  background-color: rgba(255, 255, 255, 0.9);
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 20px 20px 20px 20px;
  width: 525px;
  text-align: left;
}


.resultados-busqueda li {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.resultados-busqueda li:hover {
  background-color: #eaeaea;
}

  /* Categorias del Home */

  .categories-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    text-align: center;
  }

  .categorie-item img{
    width: 217px;
    height: 217px;
    border-radius: 10%;
  }

  .img-container-categories{
    position: relative;
    padding-bottom: 80px;
    background: #A3BD70;
    border-radius: 10%;
  }

  .img-container-categories p{
    position: absolute;
    margin: auto;
    text-align: center;
    height: 50%;
    width: 100%;
    margin-top: 20px;
  }

  .categorie-item p{
    font-family: Satoshi;
    font-weight: bold;
  }


  /* Productos random del Home */

  .Productos-random-contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    margin: 50px 0;
    text-align: center;
  }
  
  .product-item {
    display: inline-block;
    flex-wrap: wrap;
    width: calc(50% - 300px);
    margin-left: 10px;
    display: inline-block;
    position: relative;
    justify-content: space-between;
  }

  .product-item p{
    font-family: Cabinet Grotesk;
    font-weight: bold;
    font-size: 30px;
  }
  
  .product-item img {
    width: 450px;
    height: 382px;
  } 

  
  /* Paginación de productos en el Home */

  .pagination-controls{
    position: relative;
    text-align: center;
    gap: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }

  .pagination-controls button:hover {
    background-color: #D3D04F;
    transition: all 0.3s ease-in-out;
  }

  .pagination-controls button {
    background-color: #A3BD70;
  }





  
  @media (max-width: 768px) {
    /* Estilos para tablets */
    
    h1{
      top: 180px;
    }
      
    .imagen-destacada{
      width: 100%;
      margin-top: 23px;
    }
    .home-content {
      top: 300px;
      padding: 10px 0;
    }

    .home-contenedorPrincipal {
      margin-top: 24px;
    }

    .imagen-destacada {
      width: 100%;
      margin-top: 0;
    }
  
    .categorie-item img {
      width: 100px;
      height: auto;
    }
  
    .product-item {
      width: 100%;
    }
  
    .pagination-controls {
      margin-top: 30px
    }
  }
  
  @media (max-width: 480px) {
    /* Estilos para móviles */
    
    .imagen-destacada{
      width: 100%;
      top: 56.4px;
    }
  
    .home-content {
      top: 150px;
      font-size: 14px;
    }
  
    .categories-container {
      margin-top: 400px;
    }
  
    .categorie-item img {
      width: 80px;
    }
  
    .product-item {
      width: 100%;
      margin: 0;
    }
  
    .product-item img {
      width: 300px; 
      height: auto;
    }
  
    .pagination-controls {
      flex-direction: column;
      gap: 10px;
    }
  }
  