.inicio-sesion__contenedor{
  height: 100vh;
}

.mensaje-error__iniciarSesion {
  color: red;
  margin-bottom: 15px;
  text-align: center;
  font-weight: bold;
}

.form__login {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 15%;
}

.form__login-fieldset {
  border: 2px solid #A3BD70;
  border-radius: 20px;
  padding: 20px;
  width: 90%;
  max-width: 400px;
  margin-bottom: 20px;
}

.form__login-legend {
  width: auto;
  margin-left: 20px;
  padding: 0 10px;
  font-size: 1.2em;
  color: #333;
  position: relative;
  top: -14px;
}

.form__login-field {
  width: 100%;
  margin-bottom: 20px;
}

.form__login-label {
  display: block;
  margin-bottom: 5px;
  font-size: 1em;
  color: #333;
}

.form__login-input {
  width: 100%;
  padding: 10px;
  font-size: 1em;
  border: 2px solid #ddd;
  border-radius: 20px;
  outline: none;
  transition: border 0.3s ease-in-out;
}

.form__login-input:focus {
  border-color: #007bff;
}

.form__login-boton {
  padding: 10px 20px;
  font-size: 1em;
  background-color: #A3BD70;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.form__login-boton:hover {
  background-color: #D3D04F;
}

.form__login-mensajeError {
  color: red;
  font-weight: bold;
  margin-top: 10px;
}

/* Estilos para RegistroUsuario */

.registro__contenedor{
  height: 100vh;
}

.form__registro {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 10%;
}

.form__registro-fieldset {
  border: 2px solid #A3BD70;
  border-radius: 20px;
  padding: 20px;
  width: 90%;
  max-width: 400px;
  margin-bottom: 20px;
}

.form__registro-legend {
  width: auto;
  margin-left: 20px;
  padding: 0 10px;
  font-size: 1.2em;
  color: #333;
  position: relative;
  top: -14px;
}

.form__registro-field {
  width: 100%;
  margin-bottom: 20px;
}

.form__registro-label {
  display: block;
  margin-bottom: 5px;
  font-size: 1em;
  color: #333;
}

.form__registro-input,
.form__registro-checkbox input {
  width: 100%;
  padding: 10px;
  font-size: 1em;
  border: 2px solid #ddd;
  border-radius: 20px;
  outline: none;
  transition: border 0.3s ease-in-out;
}

.form__registro-input:focus {
  border-color: #007bff;
}

.form__registro-checkbox input {
  width: auto;
  margin-right: 5px;
}

.form__registro-boton {
  padding: 10px 20px;
  font-size: 1em;
  background-color: #A3BD70;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  margin-top: 20px;
}

.form__registro-boton:hover {
  background-color: #D3D04F;
}

.form__registro-mensajeError {
  color: red;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 20px;
}

.form__registro-terminosLabel {
  margin-left: 5px;
  font-size: 0.9em;
}

/* Estilo para el checkbox */
.form__registro-checkbox input {
  width: initial;
  margin-right: 10px;
  padding: 0;
  border: 0;
  outline: none;
}