
.detalle-container {
  height: 100vh;
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  padding-bottom: 60px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background: #fff;
  position: relative;
}


.detalle-container h1 {
  font-size: 2em;
  margin-bottom: 20px;
}
  
  .detalle-container button {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    background-color: #213363;
    color: #fff;
    cursor: pointer;
  }
  
  .detalle-container button:hover {
    background-color: #1a2a53;
  }
  
  .imagen-y-boton-container img{
    width: 300px;
    height: 255px;
    object-fit: cover;
  }

  .info-producto-container {
    margin-top: 20px;
  }
  
  .info-producto-container h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  
  .info-producto-container p {
    line-height: 1.6;
    color: #333;
  }

  .detalle-container {
    position: relative;
  }

  .disponibilidad-container{
    position: relative;
    display: flex;
    top: 50px;

  }




  .boton__disponibilidad__detalle{
    position: absolute;
    display: flex;
    justify-content: center;
    right: 0;
  }
  
  .available-date {
    background-color: #28a745;
    color: white;
}

.unavailable-date {
    background-color: #dc3545;
    color: white;
}

.selected-date {
  border: 2.5px solid blue;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}



  .ver-mas {
    position: absolute;
    right: 20px;
    bottom: 20px;
  }
  
  @media (max-width: 768px) {
    .detalle-container {
      padding: 20px 10px;
    }
    
    .detalle-container h1 {
      font-size: 1.5em;
    }
  }
  
@media (max-width: 480px) {
    .detalle-container {
      padding: 20px 5px;
    }
    
    .detalle-container h1 {
      font-size: 1.2em;
    }
    
    .detalle-container button {
      width: 100%;
      padding: 10px 0;
    }
  }
 
  

   @media (max-width: 768px) {
    .info-producto-container h2 {
      font-size: 1.2em;
    }
  }
  

  @media (max-width: 480px) {
    .info-producto-container h2 {
      font-size: 1em;
    }
  }
  
  @media (max-width: 480px) {
    .ver-mas {
      bottom: 10px;
      right: 10px;
      width: 100%;
      padding: 10px 0;
    }
  } 


/* Estilo general para la galería */
.galeria-container {
  height: 100vh;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 145px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}


/* Imagen Principal */
.galeria-main {
  flex: 0 0 60%;
  max-width: 60%;
}

.galeria-main img {
  width: 100%; 
  height: auto;
}

/* Imágenes Secundarias */
.galeria-secondary-container {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}


.galeria-secondary {
  flex: 1 0 calc(50% - 5px);
  max-width: calc(50% - 5px);
  justify-content: center;
  align-items: center;
}

.galeria-secondary img {
  width: 100%;
  height: auto;
}

/* Media query para tablets */
@media (max-width: 768px) {
  .galeria-main, .galeria-secondary-container {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .galeria-secondary {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

/* Media query para móviles */
@media (max-width: 480px) {
  .galeria-secondary {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
