.h1-home{
    display: flex;
    align-items: center;
    justify-content: center;
}


header {
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #D3D04F;
    z-index: 100;
}

.logo-container a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #ffffffbb;
}


.Header-buttons {
    margin-left: 10px;
    padding: 5px 15px;
    cursor: pointer;
}

.crear-cuenta, .iniciar-sesion{
  font-family: Satoshi;
  font-weight: 500;
  font-size: 20.25px;
    margin: 0 15px;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}



@media (max-width: 768px) {
    .logo-container img {
      height: 30px;
    }

    .Header-buttons {
      font-size: 14px;
    }

    .Header-buttons button {
      padding: 5px 10px;
    }
  }

  @media (max-width: 480px) {
    header {
      flex-direction: column;
      padding: 10px;
    }

    .logo-container {
      margin-bottom: 10px;
    }

    .Header-buttons {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .Header-buttons button {
      margin-bottom: 5px;
    }
  }

  @media (max-width: 768px) and (min-width: 551px) {
    header {
      flex-direction: column;
    }
  }